@import url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css");


.selectflag .selectflag-placeholder{
color:#887f7f;
}

.selectflag #country-list{
    padding: 0;
    margin: 0;
    max-width: 200px;
    width: 100%;
    border: 1px solid #bcb3b3;
    border-radius: 4px;
    margin-top: 2px;
    z-index: 1000;
    background: #FFF;
    position: absolute;
}

.selectflag #country-list li{
    padding: 12px;
    font-size: 14px;
    width: calc(100% - 24px);
}

.selectflag #country-list li:hover{
    background: #efefef;
}

.selectflag #country-list li.selectflag-searchbox{
    padding: 0px !important;
    overflow: hidden;
}

.selectflag #country-list li.selectflag-searchbox input {
    width: calc(100% - 24px);
    border: none;
    padding: 12px;
    border-radius: 8px;
}

.selectflag #country-list li.selectflag-searchbox input:focus-visible{
    border: 0;
    outline: 0;
}

.selectflag #country-list li:not(:first-child){
    border-top: 1px solid #bcb3b3;
}

.selectflag button#flagButton{
    padding: 12px;
    background: transparent;
    border: 1px solid #bcb3b3;
    border-radius: 4px;
    min-width: 200px;
    text-align: left;
    position: relative !important;
    padding-right: 40px;
}

.selectflag button#flagButton span#arr-icn{
    right: 10px;
    top: 50% !important;
    transform: translateY(-50%) !important;
    position: absolute;
    transition: 300ms linear all;
}

.selectflag.selectflag-active button#flagButton span#arr-icn svg{
    transform: rotate(180deg);
}