@import url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css");

.selectflag #country-list{
    padding: 0;
    margin: 0;
    max-width: 200px;
    border: 1px solid #bcb3b3;
    border-radius: 4px;
    margin-top: 2px;
    z-index: 1000;
    background: #FFF;
    position: absolute;
}

.selectflag #country-list li{
    padding: 8px !important;
}

.selectflag #country-list li:hover{
    background: #efefef;
}

.selectflag #country-list li:not(:last-child){
    border-bottom: 1px solid #bcb3b3;
}

.selectflag button#flagButton{
    padding: 12px;
    background: transparent;
    border: 1px solid #bcb3b3;
    border-radius: 4px;
    min-width: 200px;
    text-align: left;
    position: relative !important;
    padding-right: 40px;
}

.selectflag button#flagButton span#arr-icn{
    right: 10px;
    top: 50% !important;
    transform: translateY(-50%) !important;
    position: absolute;
    transition: 300ms linear all;
}

.selectflag.selectflag-active button#flagButton span#arr-icn svg{
    transform: rotate(180deg);
}